.bg-image{
    background-color: #272626;
    height: 100vh;
}

.titulo_centrado{
    margin: auto;
    
}

.bg-dark{
    margin-top: 10px;
    width: 100%;
    background-color: rgb(0, 0, 0) !important;
    border-radius: 10px;
    border: 1px solid beige;
}

.bg-dark .descripcion{
    width: 50%;
    color: white;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}